{% extends 'base.html' %}
{% block title %}
    Сброс пароля
{% endblock %}
{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p> Пожалуйста введите новую пароль дважды </p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Подвердить"/>
            </p>
        </form>
    {% else %}
        <p>Ссылка на ваш пароль не действителен, пиричина скорее всего уже создан</p>
    {% endif %}
{% endblock %}